* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  color: white;
  border: solid 1px;
  text-decoration: none;
}

body {
  background-color: #000;
  color: #f1f1f1;

}

.background-poster {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.banner {
  background-image: url(/image/background-image.webp);
  background-color: #000;
  filter: blur(5px) brightness(38%);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  background-size: cover;

}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.head-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  position: relative;
}

.head-bar ul {
  position: absolute;
  top: 100px;
  right: 1rem;
  width: 50px;
  text-align: center;
}

.head-bar li {
  margin: 2rem 0;
}

.right-section button {
  color: #f1f1f1;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


nav {
  position: absolute;
  height: 100vh;
  width: 420px;
  max-width: 100%;
  background-color: darkgray;
  overflow: hidden;
  top: 0;
  right: 0;
  transform: translateX(100%);
}


.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.scroller {
  padding: 2rem;
  margin-right: 2rem;
}

.bottom li {
  display: inline;
}

.nav-bottom-bottom {
  display: flex;
  align-items: center;
}

.wrapper {
  padding: 0 1rem;
  margin: auto;
}

@media (min-width:1920px) {
  .wrapper {
    max-width: 1600px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    max-width: 1200px;
  }
}

@media (min-width:992px) {
  .wrapper {
    max-width: 992px;
  }
}

.image-title {
  display: flex;
  align-items: center;
  gap: 5rem;
}

@media (min-width: 1440px) {
  h1 {
    font-size: 48px;
  }
}

.artist-name {
  font-size: 2em;
  margin: 1rem 0;
}

.listen-share {
  display: flex;
}

.listen-now {
  display: flex;
  align-items: center;
  padding: 1.6rem 1.8rem;
  color: #f1f1f1;
  background-color: #50a584;
  border-color: #50a584;
  font-size: 14px;
  height: 25px;
  text-align: center;
}

.share {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 1.6rem 1.8rem;
  margin-left: .25rem;
  font-size: 14px;
  height: 25px;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: .1em;
  margin: .83em 0;
}

.stream-online {
  display: flex;
  align-items: center;
  font-size: 22px;
}



.stream-mark a {
  text-decoration: none;
  padding: 1rem;
}


table {
  width: 100%;
}

table a {
  text-decoration: none;
  border: none;
}

#track-1,
#track-2,
#track-3,
#track-4,
#track-5,
#track-6,
#track-7,
#track-8,
#track-9,
#track-10,
#track-11,
#track-12 {
  font-size: 18px;
}

.list-number {
  padding: 16px 8px;
}


.column-main {
  display: flex;
  align-items: center;
  padding: 1rem .5rem;
}

.column-main a {
  text-decoration: none;
  border: none;
  margin-right: 1rem;
}

.song-artist {
  display: flex;
  flex-direction: column;
}


.box-video {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
}




.service {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 18px;
  line-height: 1.75;
  margin-top: 2rem;
}

.copyright {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  letter-spacing: .1em;
  margin-top: 1rem 0;
}

.copyright a {
  border: none;
  letter-spacing: 1rem;
}

.sns-link ul {
  display: flex;
}

.warning-1 {
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 4rem;
}

.warning-2 {
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 1rem;
}